---
openapi: 3.0.2
info:
  title: WeatherForecast API
  version: 1.0.0
  description: A simple API for demonstrating dispatching capabilities in Microcks
  contact:
    name: Laurent Broudoux
    url: https://github.com/lbroudoux
    email: laurent.broudoux@gmail.com
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  x-microcks:
    labels:
      domain: weather-forecast
      status: GA
paths:
  /forecast:
    get:
      operationId: GetForecasts
      summary: Get forecasts
      description: Get forecasts
      tags:
        - forecast
      responses:
        "200":
          description: Weather forecasts for all regions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Forecast'
              examples:
                all:
                  value:
                    - region: north
                      temp: -1.5
                      weather: snowy
                      visibility: 25
                    - region: west
                      temp: 12.2
                      weather: rainy
                      visibility: 300
                    - region: east
                      temp: -6.6
                      weather: frosty
                      visibility: 523
                    - region: south
                      temp: 28.3
                      weather: sunny
                      visibility: 1500
tags:
  - name: forecast
    description: Foreacast related operation

components:
  schemas:
    Forecast:
      type: object
      properties:
        region:
          type: string
        temp:
          format: double
          type: number
        weather:
          type: string
        visibility:
          format: int32
          type: integer